html, body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.Home{
    background-color: white;  
    background: url(../../Images/nbaBackground.jpg) no-repeat center center fixed; 
    background-size: 100%;
    min-height: 100vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

.Heading{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 200px;
}

.Title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    /* margin-left: 100px; */
    width: 50%
}

.Title h1{
    margin: 0;
    padding: 0;
    font-size: 4rem;
}

#NBA{
    color: blue;
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
}

#STATS{
    color: red;
    text-shadow: -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000
}

.NBALogo img{
    height: 150px;
    margin-left: 20px;
    position: relative;
    top: 5px;
}

.Glass{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 18vh;
    margin: 4vh 28vw;
    padding: 80px 10px;
    border-radius: 15px;
    background: rgba(247, 207, 248, 0.3);
    
}


.Searchbar{
    margin-bottom: 20px;
}

#searchbarId{
    width: 500px;
}

.root{
    padding: 2px 4px;
    display: 'flex';
    justify-content: space-between;
    align-items: 'center';
}

.input{
    margin-left: 10px;
    width: 350px;
}

.iconButton{
    
    padding: 10px;
}

.Points{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:  1fr 1fr 1fr 1fr;
}

.PointsInput{
    margin: 20px 20px;
}

.InputClass{
    background: rgba(255, 255, 255, 0.9);
    border-radius: 5px;
    width: 150px;
    
}

.FantasyHeader h3{
    margin-bottom: 0;
}

.navbarLinks {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin: 0;
}

.navbarText {
    color: white;
    text-decoration: none;
}

.nav {
    display: flex;
    justify-content: space-around;
    min-height: 8vh; 
    background-color: black;
    position: fixed;
    width: 100%;
    align-items: center;
    z-index:1;
}



