.navbarLinks {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin: 0;
}

.navbarText {
    color: white;
    text-decoration: none;
}

.nav {
    display: flex;
    justify-content: space-around;
    min-height: 8vh; 
    background-color: black;
    width: 100%;
    align-items: center;
    z-index:1;
}

.navbarText{
    opacity: 0.8;
    position: relative;
}

.navbarText:hover{
    opacity: 1;
}

.navbarText::before{
    transition: 0.3s;
    height: 4px;
    content: "";
    position: absolute;
    background-color: white;
    width: 0%;
    bottom : -10px;
}

.navbarText:hover::before{
    width: 100%;
}