.container {
    display: flex;
    justify-content: space-around;
}

.regularStats {
    padding-top: 20px;
    text-align: center;
    font-size: 18px;
}

.playerName {
    text-align: center;
    padding-top: 70px;
    font-size: 18px;
}

.totalPoints {
    text-align: center;
    padding-top: 30px;
    font-size: 18px;
}

.navbarLinks {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin: 0;
}

.navbarText {
    color: white;
    text-decoration: none;
}

.nav {
    display: flex;
    justify-content: space-around;
    min-height: 8vh; 
    background-color: black;
    width: 100%;
    align-items: center;
    z-index:1;
}